.img-circle {
  width: 40px;
  height: 40px;
  margin: 2px;
  display: inline-block;
}

.scroll-card {
  max-height: 475px;
  overflow-y: scroll;
}

.fs-14 {
  font-size: 14px;
}

.fs-12 {
  font-size: 12px;
}

.fs-18 {
  font-size: 18px;
}

.width80 {
  width: 85%;
}